#დაფა{
    position:relative;
    top:50px;
    left:50px;
    right:50px;
    bottom:50px;
    border:solid 1px;
}
#მთავარი_ნაჭერი{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
body{
    overflow:hidden;
}
