#დაფა{
    position:relative;
    top:-512px;
    left:-512px;
    right:-512px;
    bottom:-512px;
    border:solid 1px;
}
#მთავარი_ნაჭერი{
    position: absolute;
    overflow: hidden;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.სახარახურე{
    position: absolute;
    top:0;
    right:0;
    width:170px;
    height:618px;
    background-color: rgba(103, 172, 240, 0.5);
    border-bottom-left-radius: 8px;
    padding: 10px;
    text-align: center;
    line-height: 20px;
    /*103 172 240 #58a9f3*/
}
#სახარახურე_შიგთავსი{
    position: absolute;
    top:0;
    right:0;
    width:170px;
    padding: 10px;
    font-size: 16px;
    /*103 172 240 #58a9f3*/
}
.გამოშლილი_სახარახურე{
    width:800px;
}
#სხვა_დანარჩენი_შიგთავსი{
    position:absolute;
    left:0;
    right:190px;
    top:0;
    bottom:0;
    margin:10px;
    overflow-y:scroll;
}
#სახელი{
    width:100%;
}
#ენა{
    width:100%;
}
#ფერები{
    margin-top:5px;
    height: 30px;
}
#რუკა{
    height:30px;
}
#სხვა_დანარჩენი{
    height:30px;
}
#სხვა_დანარჩენი_საფარი{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
#სხვა_დანარჩენი_შიგთავსი{
    
}
#მომხმარებლები{
    width:100%;
    height:200px;
    overflow-x:hidden;
    overflow-y:scroll;
    border-radius: 5px;
    background-color: #fff;
}
.მომხმარებელი{
    width:100%;
    clear:both;
    cursor:pointer;
    font-size:12px;
    height:25px;
    position:relative;
}
.მომხმარებლის_ფერი{
    position:absolute;
    width:5px;
    height:25px;
}
.მომხმარებლის_ფანქარი{
    position:absolute;
    left:5px;
    width:14px;
    height:25px;
}
.მომხმარებლის_სახელი{
    position:absolute;
    left:19px;
    text-align: left;
    height:25px;
    white-space:nowrap;
}
.დამალული{
    visibility:hidden;
}
.სავსე{
    width:100%;
}
.ფერის_ყუთი{
    width:20px;
    height:20px;
    border-radius:2px;
    border:1px solid #56a7f1;
    float:left;
    margin-left:2px;
}
.მონიშნული_ფერის_ყუთი{
    border:2px solid #eeeeff;
    width:18px;
    height:18px;
}
.ტექსტი_სახარახურეში{
    font-size:12px;
    line-height:14px;
}
body{
    overflow:hidden;
}
h2{
    margin:10px;
}
input{ 
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border:0;
    margin:0;
    border:1px solid #aeaeae;
    padding:2px;
}
input[type=submit]{
    border-radius:2px;
}
input[type=text]{
    margin-top:5px;
    height:20px;
}
select{
    height:20px;
}
