#დაფა{
    position:relative;
    top:-256px;
    left:-256px;
    right:-256px;
    bottom:-256px;
    border:solid 1px;
}
#მთავარი_ნაჭერი{
    position: absolute;
    overflow: hidden;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
#სახარახურე{
    position: absolute;
    top:0;
    right:0;
    width:170px;
    height:650px;
    background-color: rgba(103, 172, 240, 0.5);
    border-bottom-left-radius: 8px;
    padding: 10px;
    text-align: center;
    line-height: 25px;
    /*103 172 240 #58a9f3*/
}
#სახელი{
    width:100%;
}
#ენა{
    width:100%;
}
#მომხმარებლები{
    width:100%;
    height:200px;
}
.სავსე{
    width:100%;
}
.ფერის_ყუთი{
    width:20px;
    height:20px;
    /*position:absolute;*/
    border-radius:2px;
    border:1px solid #56a7f1;
    float:left;
    margin-left:10px;
}
.მონიშნული_ფერის_ყუთი{
/*    border-color:#e67a22;*/
    border:2px solid #eeeeff;
    width:18px;
    height:18px;
}
body{
    overflow:hidden;
}
